<ion-pane ng-controller="AddCtrl">
  <ion-header-bar class="bar-dark">
    <a  ui-sref="list" class="button back-button buttons  button-clear header-item" ui-sref-opts="{reload: true, notify: true}">
      <i class="icon ion-ios-arrow-back"></i><span class="back-text"><span class="default-title">Back</span><span class="previous-title"></span></span>
    </a>
    <h1 class="title">Add property</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list list-inset PropertyInputs">
      <label class="item item-input">
        <button class="button button-positive button-small js-add-photo-btn" ng-click="getPhoto()">
          Add photo
        </button>
        <img id="photo">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Address</span>
        <input type="text" id="address-input" placeholder="Street address">
      </label>
    
      <label class="item item-input item-stacked-label">
        <span class="input-label">Price</span>
        <input type="tel" id="price-input" placeholder="Price">
      </label>
    
      <label class="item item-input item-stacked-label">
        <span class="input-label">Body corp</span>
        <input type="tel" id="body-corp-input" placeholder="Body corp">
      </label>
    
      <label class="item item-input item-stacked-label">
        <span class="input-label">Indoor area</span>
        <input type="tel" id="indoor-area-input" placeholder="Indoor area in sqm">
      </label>
    
      <label class="item item-input item-stacked-label">
        <span class="input-label">Outdoor area</span>
        <input type="tel" id="outdoor-area-input" placeholder="Outdoor area in sqm">
      </label>
    
      <label class="item item-input item-stacked-label">
        <span class="input-label">Rating</span>
        <input type="number" id="rating-input" placeholder="Rating">
      </label>
    
      <label class="item item-input item-stacked-label">
        <span class="input-label">Notes</span>
        <textarea id="notes-input" placeholder="Notes"></textarea>
      </label>

      <button class="button button-positive button-block" ng-click="saveProperty()">
        Save property
      </button>

      
      
      <!--
      <div class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        <span class="input-label">Worth considering?</span>
      </div>
      -->
    </div>
  </ion-content>
</ion-pane>