<ion-pane ng-controller="LoginCtrl">
  <ion-header-bar class="bar-dark">
    <h1 class="title">Househunter</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list list-inset PropertyInputs js-add-inputs">
      <h2>Login</h2>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="email" id="loginEmail" placeholder="Email">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" id="loginPassword" placeholder="Password">
      </label>
      <button class="button button-positive button-block js-login" ng-click="saveProperty()">
        Login
      </button>

      <a href="#/register">Don't have an account?</a>

    </div>


  </ion-content>
</ion-pane>
