/* Empty. Add your own CSS if you like */

.PropertyListing-img{
  float: left;
  width: 100px;
}
.PropertyListing-address{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.PropertyListing-price{
  margin-bottom: 5px;
  font-size: 14px;
}
.PropertyListing-body-corp{
  font-size: 14px;
}
.PropertyListing-rating{
  position: absolute;
  font-size: 14px;
  right: 15px;
  top: 15px;
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 10px;
}
#photo{
  width: 200px;
}


.PropertyDetail-img{
  width: 100%;
}

.PropertyDetail-text-wrap{
  padding: 20px;
}